body
  display: flex
  flex-direction: column

article
  flex-grow: 1

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

body > header, body > article, body > footer
  padding: 1.5em

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.7em
  margin: 0 0 .1em

nav
  margin: .5em -1.2em

nav a
  font-family: 'Rockwell', sans-serif
  font-size: 16px
  margin: 0; /* Remove extra margin around links */
  padding: 0.5em 1em; /* Adjust padding to control the box size */
  display: inline-block; /* Ensure proper layout */
  line-height: 1; /* Reset line height for consistent spacing */

nav a.selected
  background-color: rgb(150, 150, 150);
  color: #333;
  border-radius: 5px;
  padding: 0.5em 1em; 
  text-decoration: none;
  display: inline-block;

nav a.selected:hover
  background-color: rgb(186, 186, 186);
